[Unit]
Description=%i
Requires=zfs.target
After=zfs.target
Requires=docker.service
After=docker.service

[Service]
Type=exec
WorkingDirectory=/vault/containers/%i
TimeoutSec=900
Environment="DOCKER_CLIENT_TIMEOUT=900"
Environment="COMPOSE_HTTP_TIMEOUT=900"

# stop the app via docker compose 
ExecStartPre=/usr/bin/docker-compose down --remove-orphans

# push local images to the docker daemon
ExecStartPre=/bin/bash -c 'while read -r remote local; do skopeo copy oci:images/"$local" docker-daemon:"$local"; done < images/mappings.txt;'

# start the app via docker compose
ExecStart=/usr/bin/docker-compose up --remove-orphans --force-recreate --no-log-prefix --renew-anon-volumes --abort-on-container-exit

# stop the app via docker compose 
ExecStop=/usr/bin/docker-compose down --remove-orphans

ExecStop=/bin/bash -c "echo $(date +%%T.%%N)"

[Install]
WantedBy=multi-user.target
