[Unit]
Description=docker - Remove all unused containers, networks, images (both dangling and unreferenced)
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
ExecStart=/usr/bin/docker system prune --force
