[Unit]
Description=%i via docker-compose
Requires=zfs.target
Requires=docker.service
After=zfs.target
After=docker.service

[Service]
Type=exec
WorkingDirectory=/vault/containers/%i
Environment="DOCKER_CLIENT_TIMEOUT=360"
Environment="COMPOSE_HTTP_TIMEOUT=360"

ExecStart=/usr/bin/docker-compose up --remove-orphans --force-recreate --no-log-prefix --renew-anon-volumes --abort-on-container-exit
ExecStop=/usr/bin/docker-compose down --remove-orphans

[Install]
WantedBy=multi-user.target
