[Unit]
Description=update %i
ConditionPathExists=!/vault/containers/%i/no-update
Requires=zfs.target
After=zfs.target

[Service]
Type=oneshot
WorkingDirectory=/vault/containers/%i
TimeoutSec=900

# stop the service
ExecStart=+/bin/systemctl stop docker-compose@%i.service

# put timestamp
ExecStart=/bin/bash -c "echo $(date +%%T.%%N)"

# create snapshot with updates disabled
ExecStart=/bin/bash -c 'touch no-update && chown media:media no-update && zfs snapshot -r vault/containers/%i@$(date +%%Y-%%m-%%d-%%H%%M%%S) && rm no-update'

# pull latest images and retag
ExecStart=/bin/bash -c 'while read -r remote local; do docker image pull "$remote"; docker image tag "$remote" "$local"; docker image rm "$remote"; done < images.txt;'

# save the retagged images
ExecStart=/bin/bash -c 'docker image save $(awk '{print $2}' images.txt) | pigz --fast > images.tar.gz'

# email if updates enabled
ExecStartPost=-/bin/bash -c 'cat info.txt | mail -s "%i updated" root'

# Restart the app
ExecStopPost=+/bin/systemctl start docker-compose@%i.service
