[Unit]
Description=Docker - Remove all unused containers, networks, images (both dangling and unreferenced)
Requires=docker.service
After=docker.service

[Timer]
OnCalendar=*-*-27 02:00:00
Persistent=true

[Install]
WantedBy=timers.target
