[Unit]
Description=%i via docker-compose
Requires=zfs.target
Requires=docker.service
After=zfs.target
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=true
WorkingDirectory=/vault/containers/%i
Environment="DOCKER_CLIENT_TIMEOUT=360"
Environment="COMPOSE_HTTP_TIMEOUT=360"
ExecStart=/usr/bin/docker-compose up --detach --force-recreate
ExecStop=/usr/bin/docker-compose down
# Reload backs up the compose file, pins image tags, takes zfs snapshot,
# moves original compose file back, then pulls latest and starts
ExecReload=cp compose.yml compose.yml.bak
ExecReload=chown media:media compose.yml.bak
ExecReload=/bin/bash -c '/usr/bin/docker-compose config --resolve-image-digests > compose.yml.new'
ExecReload=mv compose.yml.new compose.yml
ExecReload=chown media:media compose.yml
ExecReload=/bin/bash -c '/usr/sbin/zfs snapshot -r vault/containers/%i@$(date +%%Y-%%m-%%d-%%H%%M%%S)'
ExecReload=mv compose.yml.bak compose.yml
ExecReload=chown media:media compose.yml
ExecReload=/usr/bin/docker-compose pull --ignore-pull-failures
ExecReload=/usr/bin/docker-compose up --detach
ExecReload=-/bin/bash -c '/usr/bin/cat /vault/containers/%i/info.txt | /usr/bin/mail -s "%i updated via docker-compose" root'

[Install]
WantedBy=multi-user.target
