[Unit]
Description=%i auto update via docker-compose
Requires=docker-compose@%i.service
After=docker-compose@%i.service

[Timer]
OnCalendar=*-*-28 02:00:00
Persistent=true

[Install]
WantedBy=timers.target
