[Unit]
Description=update %i
Requires=docker-compose@%i.service
After=docker-compose@%i.service

[Service]
Type=oneshot

# Restart the app
ExecStart=+/bin/systemctl restart docker-compose@%i.service
