[Unit]
Description=Wait for ZFS before starting Docker
Before=docker.service
After=zfs.target

[Service]
Type=oneshot
ExecStart=/bin/true
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target