[Unit]
Description=kopia backup to %i
Requires=zfs.target
After=zfs.target

[Service]
Type=oneshot
EnvironmentFile=/vault/backups/kopia/%i/.env
ExecStartPre=/usr/bin/curl -fsS -m 10 --retry 5 -o /dev/null https://hc-ping.com/${HEALTHCHECK_UUID}/start
ExecStart=if [[ ! -z "$LOCAL_BACKUP_SOURCE" ]]; then /usr/local/bin/kopia snapshot create ${LOCAL_BACKUP_SOURCE}; fi
ExecStart=if [[ ! -z "$LOCAL_BACKUP_SOURCE2" ]]; then /usr/local/bin/kopia snapshot create ${LOCAL_BACKUP_SOURCE2}; fi 
ExecStart=/usr/local/bin/kopia maintenance run
ExecStartPost=/usr/bin/curl -fsS -m 10 --retry 5 -o /dev/null https://hc-ping.com/${HEALTHCHECK_UUID}
